<div class="d-flex flex-column bg-light vh-100 p-3" style="width: 250px;">
    <h5 class="mb-4">Admin Panel</h5>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link active" href="#">Dashboard</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">Buku</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">Anggota</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link" href="#">Peminjaman</a>
        </li>
    </ul>
</div>
